body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: url(../assets/bg1New.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-header {
    display: flex;
    flex-direction: column; /* Memastikan logo dan judul ditumpuk secara vertikal */
    align-items: center;
    margin-bottom: 10px;
}

footer {
    background: url(../assets/FOOTER.png) no-repeat center center;
    background-size: cover;
    padding: 2rem 0;
}

.font-footer {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 2.375em;
    margin-left: 0.5em;
}

#logo {
    max-width: 200px;
}

.logo-event {
    max-width: 100%; /* Memastikan gambar tidak melebihi lebar kontainer */
    height: auto; /* Menjaga proporsi gambar */
    margin: 10px 0; /* Menambahkan jarak atas dan bawah */
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

.btn-klik,
.btn-klik:hover {
    background-color: transparent;
}

.book-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.book-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-item img {
    max-width: 100%;
    height: 360px;
    object-fit: contain;
    margin-bottom: 10px;
}

.book-item h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.book-item p {
    font-size: 0.9em;
}

.book-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.book-item a:hover {
    background-color: #555;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 1.2em;
    color: #555;
}

.header-container {
    display: flex;
    align-items: center;
}

#search-input {
    flex-grow: 1;
    margin: 0px 20px;
    width: 320px;
}

#home-button {
    margin-left: 10px;
}

.dropdown {
    margin-left: 10px;
}

.card {
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-price-children {
    background-color: #CF1A21;
    color: #ffffff;
}

.new-price-fiction {
    background-color: #F8E52D;
    color: #000000;
}

.new-price-non-fiction {
    background-color: #92b6f0;
    color: #000000;
}

.new-price-korean {
    background-color: #FEA6D3;
    color: #000000;
}

.new-price-bca {
    background-color: #0061AF;
    color: #ffffff;
}

.book-price.new-price-children {
    background-color: #CF1A21;
    color: #ffffff;
}

.book-price.new-price-fiction {
    background-color: #F8E52D;
    color: #000000;
}

.book-price.new-price-non-fiction {
    background-color: #92b6f0;
    color: #000000;
}

.book-price.new-price-korean {
    background-color: #FEA6D3;
    color: #000000;
}

.book-price.new-price-bca {
    background-color: #0061AF;
    color: #ffffff;
}

.book-price .price-label {
    /* margin: 0 5px; */
    display: inline-block;
    white-space: nowrap;
}

.book-price .new-price {
    /* margin-left: 5px; */
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
    white-space: nowrap;
}

.book-price {
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.card-title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card-title {
    margin: 0;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Jumlah baris yang ditampilkan sebelum dipotong */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title-wrapper:hover .card-title {
    white-space: normal;
    overflow: visible;
    -webkit-line-clamp: unset; /* Menghapus batasan baris saat dihover */
}

.card-text {
    text-align: left;
}

.card-text.isbn {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-text.sub-category {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.skeleton-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 18rem;
    height: 360px;
    margin: 10px;
}

.skeleton-loader .skeleton-img {
    width: 100%;
    height: 60%;
    background-color: #ddd;
    border-radius: 4px 4px 0 0;
}

.skeleton-loader .skeleton-text {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    border-radius: 4px;
    margin: 10px 0;
}

.skeleton-loader .skeleton-text.short {
    width: 50%;
}

.skeleton-loader .skeleton-text.medium {
    width: 70%;
}

.skeleton-loader .skeleton-text.long {
    width: 90%;
}

/* Gaya untuk dropdown pada tampilan mobile */
.mobile-nav {
    display: none; /* Defaultnya tersembunyi */
    position: relative;
}

.mobile-nav-button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.mobile-nav-dropdown {
    display: none; /* Defaultnya tersembunyi */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
}

.mobile-nav-dropdown a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
}

.mobile-nav-dropdown a:hover {
    background-color: #555;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #f4f4f4;
    }
    100% {
        background-color: #e0e0e0;
    }
}

.skeleton-loader .skeleton-img,
.skeleton-loader .skeleton-text {
    animation: pulse 1.5s infinite ease-in-out infinite;
}

@keyframes loading {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #f0f0f0;
    }
    100% {
        background-color: #e0e0e0;
    }
}

#all-button {
    margin: 0 0 0 10px;
}

#children-button {
    margin: 0 0 0 10px;
}

#fiction-button {
    margin: 0 0 0 10px;
}

#non-fiction-button {
    margin: 0 0 0 10px;
}

#korean-button {
    margin: 0 0 0 10px;
}

#bca-button {
    margin: 0 0 0 10px;
}

/* Khusus untuk tampilan desktop */
@media (min-width: 769px) {
    .book-price .new-price {
        font-size: x-large;
    }

    .card-img-top {
        padding-top: 50px;
        width: 100%;
        height: 360px;
        object-fit: contain;
    }
}

/* Khusus untuk tampilan mobile */
@media (max-width: 768px) {
    .book-price .price-label {
        font-size: small;
    }

    .card-img-top {
        padding-top: 30px;
        width: 100%;
        height: 240px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px; /* Memberikan sedikit jarak antara gambar dan teks */
    }

    .logo-event {
        max-width: 90%; /* Lebar maksimum gambar pada tampilan mobile */
        width: auto; /* Memastikan gambar menyesuaikan dengan lebar maksimum */
        margin: 10px 0; /* Menambahkan jarak atas dan bawah */
    }

    .header-container {
        display: none; /* Sembunyikan header-container pada tampilan mobile */
    }

    .mobile-nav {
        display: block; /* Tampilkan dropdown pada tampilan mobile */
    }
    header {
        flex-direction: column;
        text-align: center;
    }

    #search-input {
        width: 100%;
        max-width: none;
        margin: 10px 0;
        padding: 10px; /* Untuk memastikan placeholder tidak terlalu dekat dengan tepi input */
        text-align: center; /* Menempatkan teks placeholder di tengah secara horizontal */
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    #home-button {
        margin: 10px 0;
    }

    .dropdown {
        margin: 10px 0;
    }

    .book-item {
        width: calc(50% - 20px);
    }

    .book-price .new-price {
        font-size: small; /* Mengatur kembali ke ukuran font default */
    }

    .book-catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .book-item {
        width: 48%;
        margin-bottom: 20px;
    }

    .card {
        width: 100%; /* Mengatur card untuk mengambil seluruh lebar layar */
        max-width: 10rem; /* Lebar maksimum card */
        margin: 8px auto; /* Margin atas dan bawah dengan jarak yang lebih kecil */
        padding: 0.5rem; /* Mengurangi padding dalam card */
        display: flex;
        flex-direction: column;
        align-items: center; /* Ini akan memusatkan konten horizontal (termasuk gambar) */
        text-align: center; /* Opsional: Ini akan memusatkan teks dalam card */
    }

    .card img {
        width: 100%; /* Memastikan gambar memenuhi lebar card */
        height: auto; /* Menjaga proporsi gambar */
    }

    .card-body {
        padding: 0.5rem; /* Mengurangi padding dalam card-body */
        width: 100%; /* Memastikan body card mengambil seluruh lebar */
    }

    .card-title {
        font-size: 0.75rem; /* Menyesuaikan ukuran font title */
    }

    .card-text {
        font-size: 0.625rem; /* Menyesuaikan ukuran font teks */
    }

    .new-price {
        font-size: 0.75rem; /* Menyesuaikan ukuran font untuk label harga */
    }

    .skeleton-loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 10px;
        background: #e0e0e0;
        border-radius: 4px;
        width: 100px;
        height: 150px;
        position: relative;
    }

    .skeleton-img {
        width: 100%;
        height: 60px;
        background: #ccc;
        margin-bottom: 10px;
        border-radius: 4px;
        animation: loading 1.5s infinite;
    }

    .skeleton-text {
        width: 80%;
        height: 10px;
        background: #ccc;
        margin-bottom: 8px;
        border-radius: 4px;
        animation: loading 1.5s infinite;
    }

    .skeleton-text.medium {
        width: 60%;
    }

    .skeleton-text.short {
        width: 40%;
    }
}

@media (max-width: 576px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center; /* Ini akan memusatkan konten horizontal (termasuk gambar) */
        text-align: center; /* Opsional: Ini akan memusatkan teks dalam card */
    }

    .card .card-img-top {
        padding-top: 30px;
        width: 100%;
        height: 240px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px; /* Memberikan sedikit jarak antara gambar dan teks */
    }

    .card-body {
        width: 100%; /* Memastikan body card mengambil seluruh lebar */
    }

    .font-footer {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        font-size: 1.5em;
        margin-left: 0.8em;
    }

    .img-size {
        width: auto;
        height: 3em;
    }
}